@mixin full {
    width: 100vw;
    height: 100%;
}

@mixin text-center {
    text-align: center;
}

@mixin text-right {
    text-align: right;
}

@mixin center-vertical-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-cover {
    @include full;
}

@mixin caption {
    padding: $large-padding;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    position: absolute;
    letter-spacing: 5px;
    width: auto;
    bottom: 0px;
    left: 10px;
    z-index: 10;
    @include text-center;
}

@mixin main-text {
    font-weight: 200;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-right: 1em;
    grid-area: title;
    h1, h2 {
        font-weight: inherit;
        font-size: $big;
        letter-spacing: 0.3em;
        line-height: 1em;
    }
}

@mixin grid {
    display: grid;
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 75vh;
    grid-template-columns: repeat(9, 1fr);
}

@mixin transition {
    transition: all 0.6s ease-out;
}