//Colores
$errie_black: #121619;
$gold: #E5C687;
$green: #09814A;
$sand: #BCB382;
$dark_green: #2D4739;
$white: #fff;
$black: #000;

//fonts
$small: 16px;
$medium: 20px;
$big: 48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;